.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  /* height: 200px; */
  height: 20%;
}

.App-header {
  background-color: white;
  height: 200px;
  padding: 20px;
  color: black;
}

.App-navbar {
  /*background-color: lightskyblue;*/
  color: maroon;
}

.App-navbutton {
  color: maroon;
}

.App-footernav {
  /*background-color: lightskyblue;*/
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.App-body {
  /* width: 850px; */
  width: 100%;
  align-content: center;
}

.card {
  /* width: 830px; */
  width: 90%;
  padding: 10px;
}

.paperRoot {
  align-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
